@charset "UTF-8";

// senux-header.scss, Senux Project, Jake Deery, 2021

//
//
// header

// header
#opacheader {
	margin: 0;
	margin-left: 0;
	padding: 2.5rem 1rem;
	color: $headerText;
	background: $headerBg;

	h1, h3 {
		display: inline-block;
		color: $headerText;

		&::after {
			content: '';
			display: block;
			max-width: 33%;
			border-bottom: .25rem solid $headerText;
			border-radius: $defaultRadius
		}
	}

	h1 {
		font-size: 3rem
	}
}
@media (min-width: 992px) {
	#opacheader {
		padding: 2.5rem 5rem
	}
}

// mobile-only class
@media (min-width: 992px) {
	.mobile_only {
		display: none
	}
}

#opacheader_logowrapper {
	border: 0;
	margin: 0 1rem;
	padding: 0;
	background: $headerLogoBg;
	width: $headerLogoWidth;

	a {
		display: block;
		height: 0!important;
		overflow: hidden;
		padding: $headerLogoHeight 0 0;
		text-decoration: none;

		&:hover, &:focus,
		&:active, &.active {
			text-decoration: none;
			background-color: transparent!important
		}
	}
}

#opacheader_titles {
	margin: 0;
	padding: 0 1rem;
	display: flex;
	justify-content: center
}
@media (min-width: 992px) {
	#opacheader_titles {
		padding: 0
	}
}

//
// search box
#opac-main-search {
	margin: 0;
	padding: 0;
	color: $mainSearchText;
	background-color: $mainSearchBg;

	a {
		color: $mainSearchLink;

		&:hover, &:focus {
			color: $mainSearchLinkHov
		}
	}

	label {
		display: none
	}
}

#searchform {
	margin: 0 auto;
	padding: 1.5rem 1rem;
	max-width: 1440px;


	button, input, select,
	textarea {
		height: 3rem
	}
}
@media (min-width: 992px) {
	#searchform {
		padding: 1.5rem 2.5rem;
	}
}

#moresearches {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 1rem;
	color: $moreSearchText;
	background-color: $moreSearchBg;

	a {
		color: $moreSearchLink;

		&:hover, &:focus {
			color: $moreSearchLinkHov;
		}
	}

	.nav-item {
		&::before {
			content: none
		}
	}
}

//
// dropdown items
.dropdown-item {
	&:hover, &:focus {
		color: $dropdownLinkTextHov;
		background-color: $dropdownLinkBgHov
	}
}
