@charset "UTF-8";

// senux-credits.scss, Senux Project, Jake Deery, 2021

//
//
// credits
#opaccredits, #koha_url, #report_a_problem {
	margin: 0;
	padding: 1rem;

	background-color: $footerBg;

	p {
		padding: 0;
		color: $footerText;
	}

	a {
		color: $footerLink;

		&:hover, &:focus {
			color: darken($footerLink, 15%)
		}
	}
}
@media (min-width: 992px) {
	#opaccredits, #koha_url, #report_a_problem {
		padding: 1rem 5rem;
	}
}
