@charset "UTF-8";

//
// gdrp banner
#-gdpr-banner {
	color: $defaultText;
	background-color: $defaultBg;

	p {
		padding: 1rem
	}

	a {
		padding: 1rem
	}

	button {
		display: inline;
		margin: 0 1rem
	}
}

// coverflow plugin
.flipster--coverflow .flipster__item {
	&::before {
		content: none
	}
}
