@charset "UTF-8";

// senux-generic.scss, Senux Project, Jake Deery, 2021

//
//
// generic

html {
	font-size: 16px
}

body {
	color: $defaultText;
	background-color: $defaultBg
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: '';
}

//
// generic content
p {
	padding: 0 0 .75em;
	margin: 0;
	color: $defaultText
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
	color: $defaultText
}

a {
	background: $defaultLinkBg;
	color: $defaultLinkText;
	outline: $defaultLinkOutlineWidth $defaultLinkOutlineType $defaultLinkOutlineCol;
	box-shadow: none!important;
	text-decoration: $defaultLinkDecoration;

	border-radius: $defaultRadius;
	outline-offset: $defaultOffset;

	i.fa {
		color: $defaultLinkText
	}

	&:link, &:visited {
		background: $defaultLinkBg;
		color: $defaultLinkText;
		outline: $defaultLinkOutlineWidth $defaultLinkOutlineType $defaultLinkOutlineCol;
		text-decoration: $defaultLinkDecoration;

		i.fa {
			color: $defaultLinkText
		}
	}

	&:hover {
		background: $defaultLinkBgHov;
		color: $defaultLinkTextHov;
		outline: $defaultLinkOutlineWidthHov $defaultLinkOutlineTypeHov $defaultLinkOutlineColHov;
		text-decoration: $defaultLinkDecorationHov;

		i.fa {
			color: $defaultLinkTextHov
		}
	}

	&:focus, &:active,
	&.active {
		background: $defaultLinkBgFoc!important;
		color: $defaultLinkTextFoc!important;
		outline: $defaultLinkOutlineWidthFoc $defaultLinkOutlineTypeFoc $defaultLinkOutlineColFoc!important;
		text-decoration: $defaultLinkDecorationFoc!important;

		i.fa {
			color: $defaultLinkTextFoc!important
		}
	}
}

a[target="_blank"] {
	&::after {
		font-family: 'FontAwesome';
		font-size: .75em;
		font-weight: normal;
		text-rendering: auto;
		content: " \f08e"
	}
}

label, .label, .hint {
	color: $defaultText
}

ul {
	list-style-type: $defaultBullet
}

hr {
	border-top: $defaultBorderWidth $defaultBorderType $defaultBorderCol
}

//
// specify page fonts
.fonts-loaded body, .fonts-loaded button,
.fonts-loaded input, .fonts-loaded optgroup,
.fonts-loaded option, .fonts-loaded select,
.fonts-loaded textarea {
	font-family: $defaultFonts;

	body, button, input,
	optgroup, option, select,
	textarea {
		font-family: $defaultFonts
	}
}

//
// main content
#wrapper {
	overflow: hidden;
	width: 100%;
	margin: auto;
	padding: 0
}

.container-fluid {
	width: 100%;
	margin: auto;
	padding: 0
}

//
// buttons
.btn, input[type="submit"].btn {
	background-image: none;
	text-shadow: none;
	text-decoration: none!important;

	padding: .45rem 1.125rem;
	font-size: 1rem;
	border-radius: $defaultRadius;
	outline-offset: $defaultOffset;
	cursor: pointer;
	white-space: normal;
	word-wrap: break-word;
	font-weight: 400;

	color: $btnPriText;
	background-color: $btnPriBg;
	border: $btnPriBorderWidth $btnPriBorderType $btnPriBorderCol;
	outline: $btnPriOutlineWidth $btnPriOutlineType $btnPriOutlineCol;
	box-shadow: none!important;

	i.fa {
		color: $btnPriText
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none!important;

		color: $btnPriTextHov;
		background-color: $btnPriBgHov;
		border: $btnPriBorderWidthHov $btnPriBorderTypeHov $btnPriBorderColHov;
		outline: $btnPriOutlineWidthHov $btnPriOutlineTypeHov $btnPriOutlineColHov;

		i.fa {
			color: $btnPriTextHov
		}
	}
}

.btn-primary, #loginModal input[type="submit"],
.btn-primary:not(:disabled):not(.disabled),
.btn-success, .btn-success:not(:disabled):not(.disabled),
#searchsubmit.btn.btn-primary {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	color: $btnPriText;
	background-color: $btnPriBg;
	border: $btnPriBorderWidth $btnPriBorderType $btnPriBorderCol;
	outline: $btnPriOutlineWidth $btnPriOutlineType $btnPriOutlineCol;
	box-shadow: none!important;

	i.fa {
		color: $btnPriText
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: $btnPriTextHov;
		background-color: $btnPriBgHov;
		border: $btnPriBorderWidthHov $btnPriBorderTypeHov $btnPriBorderColHov;
		outline: $btnPriOutlineWidthHov $btnPriOutlineTypeHov $btnPriOutlineColHov;

		i.fa {
			color: $btnPriTextHov
		}
	}
}

.btn-default, .btn-secondary,
.btn-default:not(:disabled):not(.disabled), 
.btn-secondary:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;

	color: $btnSecText;
	background-color: $btnSecBg;
	border: $btnSecBorderWidth $btnSecBorderType $btnSecBorderCol;
	outline: $btnSecOutlineWidth $btnSecOutlineType $btnSecOutlineCol;
	box-shadow: none!important;

	i.fa {
		color: $btnSecText
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;

		color: $btnSecTextHov;
		background-color: $btnSecBgHov;
		border: $btnSecBorderWidthHov $btnSecBorderTypeHov $btnSecBorderColHov;
		outline: $btnSecOutlineWidthHov $btnSecOutlineTypeHov $btnSecOutlineColHov;

		i.fa {
			color: $btnSecTextHov
		}
	}
}

.btn-link, .dt-button,
.btn-link:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;

	color: $btnLinkText;
	background-color: $btnLinkBg;
	border: $btnLinkBorderWidth $btnLinkBorderType $btnLinkBorderCol;
	outline: $btnLinkOutlineWidth $btnLinkOutlineType $btnLinkOutlineCol;

	i.fa {
		color: $btnLinkText
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;

		color: $btnLinkTextHov;
		background-color: $btnLinkBgHov;
		border: $btnLinkBorderWidthHov $btnLinkBorderTypeHov $btnLinkBorderColHov;
		outline: $btnLinkOutlineWidthHov $btnLinkOutlineTypeHov $btnLinkOutlineColHov;

		i.fa {
			color: $btnLinkTextHov
		}
	}
}

.dt-button::before {
	color: $defaultLinkText
}

.dt-button:hover::before {
	color: darken($defaultLinkText, 15%)
}

.btn-danger, input[type="submit"].btn-danger,
.btn-danger:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;

	color: $msWhite;
	background-color: $msRed;
	border: $btnPriBorderWidth $btnPriBorderType $msRed;
	outline: $btnPriOutlineWidth $btnPriOutlineType $btnPriOutlineCol;

	i.fa {
		color: $msWhite
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;

		color: $msWhite;
		background-color: darken($msRed, 15%);
		border: $btnPriBorderWidth $btnPriBorderType darken($msRed, 10%);
		outline: $btnPriOutlineWidth $btnPriOutlineType darken($msRed, 10%);

		i.fa {
			color: $msWhite
		}
	}
}

.input-append .add-on:last-child, .input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
	border-radius: $defaultRadius
}

//
// input fields
input[type="text"], input[type="password"],
input[type="email"], input[type="url"],
input[type="time"], input[type="date"],
input[type="datetime-local"], input[type="tel"],
input[type="number"], input[type="search-md"],
input[type="search"], select, textarea,
.form-control, .dataTables_filter input[type="search"] {
	padding: 0.375rem 0.75rem;
	font-weight: 300;
	font-size: 1.1rem;
	height: auto;
	line-height: normal;
	background-image: none;
	text-shadow: none;
	border-radius: $defaultRadius;
	outline-offset: $defaultOffset;

	color: $inputText;
	background-color: $inputBg;
	border: $inputBorderWidth $inputBorderType $inputBorderCol;
	outline: $inputOutlineWidth $inputOutlineType $inputOutlineCol;
	box-shadow: none!important;

	&:hover {
		background-image: none;
		text-shadow: none;

		color: $inputTextHov;
		background-color: $inputBgHov;
		border: $inputBorderWidthHov $inputBorderTypeHov $inputBorderColHov;
		outline: $inputOutlineWidthHov $inputOutlineTypeHov $inputOutlineColHov
	}

	&:focus, &:active,
	&.active {
		background-image: none;
		text-shadow: none;

		color: $inputTextFoc;
		background-color: $inputBgFoc;
		border: $inputBorderWidthFoc $inputBorderTypeFoc $inputBorderColFoc;
		outline: $inputOutlineWidthFoc $inputOutlineTypeFoc $inputOutlineColFoc
	}

	&:disabled {
		color: $inputDisabledText;
		background-color: $inputDisabledBg;
		border: $inputDisabledBorderWidth $inputDisabledBorderType $inputDisabledBorderCol;
		outline: $inputDisabledOutlineWidth $inputDisabledOutlineType $inputDisabledOutlineCol
	}
}

input[type="text"], input[type="password"],
input[type="email"], input[type="url"],
input[type="time"], input[type="date"],
input[type="datetime-local"], input[type="tel"],
input[type="number"], input[type="search-md"],
input[type="search"], textarea,
input[type="search"] {
	&:read-only {
		color: $inputDisabledText;
		background-color: $inputDisabledBg;
		border: $inputDisabledBorderWidth $inputDisabledBorderType $inputDisabledBorderCol;
		outline: $inputDisabledOutlineWidth $inputDisabledOutlineType $inputDisabledOutlineCol
	}
}

//
// alerts
.alert {
	border-radius: $defaultRadius
}

//
// accessibility - screen reader text
.sr-only {
	position: absolute;
	width: .066rem;
	height: .066rem;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: none
}
