@charset "UTF-8";

// senux-nav.scss, Senux Project, Jake Deery, 2021

//
//
// navbar

//
// logo
#logo {
	display: $navbarLogoDisplayMobile;
	background: $navbarLogo;

	&:hover, &:focus,
	&:active, &.active {
		background: $navbarLogoHov
	}

	a {
		&:focus, &:active,
		&.active {
			background-color: $transparent!important
		}
	}
}
@media(min-width: $breakpoint-pc) {
	#logo {
		display: $navbarLogoDisplay
	}
}

img[src="/opac-tmpl/bootstrap/images/koha-green-logo.png?raw=1"] {
	display: none
}

//
// navbar
.navbar-expand {
	background-color: $navbarBg;
	padding: .5rem 1rem;
	border: $defaultBorderWidth $defaultBorderType $transparent
}

#cartDetails {
	top: calc(57px + 1rem);
	right: auto;
	bottom: auto;
	left: 1rem;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	outline: $defaultOutlineWidth $defaultOutlineType $defaultOutlineCol;
	outline-offset: $defaultOffset;
	border-radius: $defaultRadius
}

#cart-list-nav, #members, #header_langmenu {
	li {
		a {
			color: $navbarLink;
			text-decoration: none;
			text-shadow: none;

			i.fa {
				color: $navbarLink
			}

			&:hover, &:focus,
			&:active, &.active {
				color: $navbarLinkHov;

				i.fa {
					color: $navbarLinkHov
				}
			}
		}

		a.dropdown-item {
			background-color: $dropdownLinkBg;
			color: $dropdownLinkText;

			i.fa {
				color: $dropdownLinkText;
			}

			&:hover, &:focus,
			&:active, &.active {
				background-color: $dropdownLinkBgHov;
				color: $dropdownLinkTextHov;

				i.fa {
					color: $dropdownLinkTextHov;
				}
			}
		}

		&::before {
			content: none
		}
	}

	.divider-vertical, .clearsh {
		display: none
	}
}

#user-menu {
	display: block;
	padding: .5rem
}

#loggedinuser-menu {
	background-color: $navbarUsermenuBg;

	p {
		a.login-link {
			color: $navbarUsermenuLink;

			&:hover, &:focus,
			&:active, &.active {
				color: $navbarUsermenuLinkHov
			}
		}
	}

	a#logout.logout {
		color: $navbarUsermenuLogout;

		&:hover, &:focus,
		&:active, &.active {
			color: $navbarUsermenuLogoutHov
		}
	}
}

.dropdown-menu {
	background-color: $dropdownBg;
	color: $dropdownText;
	border-radius: $defaultRadius
}

.navbar .nav > li {
	&::before {
		content: none
	}
}

//
//
// mobile overrides
@media only screen and (max-width:1100px) {
	.hmplabel, .helplabel, .srchlabel {
		display: none
	}
}

@media (max-width:767px) {
	#opac-main .maincontent {
		width: 74.46808510638297%
	}
}
