@charset "UTF-8";

// senux-generic.scss, Senux Project, Jake Deery, 2021

//
//
// generic

html {
	font-size: 16px
}

body {
	color: $defaultText;
	background-color: $defaultBg
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: '';
}

//
// generic content
p {
	padding: 0 0 .75em;
	margin: 0;
	color: $defaultText
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
	color: $defaultText
}

a {
	color: $defaultLink;
	text-decoration: $defaultLinkDecoration;

	&:link, &:visited {
		background-color: transparent;
		color: $defaultLink;
		text-decoration: $defaultLinkDecoration
	}

	&:hover, &:focus,
	&:active, &.active {
		color: darken($defaultLink, 15%);
		text-decoration: $defaultLinkHovDecoration
	}
}

label {
	color: $defaultText
}

ul {
	list-style-type: $defaultBullet
}

hr {
	border-top: .066rem solid $defaultBorder
}

//
// specify page fonts
.fonts-loaded body, .fonts-loaded button,
.fonts-loaded input, .fonts-loaded optgroup,
.fonts-loaded option, .fonts-loaded select,
.fonts-loaded textarea {
	font-family: $defaultFonts;

	body, button, input,
	optgroup, option, select,
	textarea {
		font-family: $defaultFonts
	}
}

//
// main content
#wrapper {
	overflow: hidden;
	width: 100%;
	margin: auto;
	padding: 0
}

.container-fluid {
	width: 100%;
	margin: auto;
	padding: 0
}

//
// buttons
.btn, input[type="submit"].btn {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	padding: .45rem 1.125rem;
	font-size: 1rem;
	border-radius: $defaultRadius;
	cursor: pointer;
	white-space: normal;
	word-wrap: break-word;
	font-weight: 400;

	color: $btnPriText;
	background-color: $btnPriBg;
	border: .066rem solid $btnPriBorder;
	box-shadow: 0 0 0 .33rem $btnPriShadow;

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: $btnPriTextHov;
		background-color: $btnPriBgHov;
		border: .066rem solid $btnPriBorderHov;
		box-shadow: 0 0 0 .33rem $btnPriShadowHov
	}
}

.btn-primary, #loginModal input[type="submit"],
.btn-primary:not(:disabled):not(.disabled),
.btn-success, .btn-success:not(:disabled):not(.disabled),
#searchsubmit.btn.btn-primary {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	color: $btnPriText;
	background-color: $btnPriBg;
	border: .066rem solid $btnPriBorder;
	box-shadow: 0 0 0 .33rem $btnPriShadow;

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: $btnPriTextHov;
		background-color: $btnPriBgHov;
		border: .066rem solid $btnPriBorderHov;
		box-shadow: 0 0 0 .33rem $btnPriShadowHov
	}
}

.btn-default, .btn-secondary,
.btn-default:not(:disabled):not(.disabled), 
.btn-secondary:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	color: $btnSecText;
	background-color: $btnSecBg;
	border: .066rem solid $btnSecBorder;
	box-shadow: 0 0 0 .33rem $btnSecShadow;

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: $btnSecTextHov;
		background-color: $btnSecBgHov;
		border: .066rem solid $btnSecBorderHov;
		box-shadow: 0 0 0 .33rem $btnSecShadowHov
	}
}

.btn-link, .dt-button,
.btn-link:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	color: $defaultLink;
	background-color: transparent;
	border: .066rem solid transparent;

	i.fa {
		color: $defaultLink;
		background-color: transparent;
	}

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: darken($defaultLink, 15%);
		background-color: transparent;
		border: .066rem solid $defaultBorder;
		box-shadow: 0 0 0 .33rem transparent;

		i.fa {
			color: darken($defaultLink, 15%);
			background-color: transparent;
		}
	}
}

.dt-button::before {
	color: $defaultLink
}

.dt-button:hover::before {
	color: darken($defaultLink, 15%)
}

.btn-danger, input[type="submit"].btn-danger,
.btn-danger:not(:disabled):not(.disabled) {
	background-image: none;
	text-shadow: none;
	text-decoration: none;

	color: $msWhite;
	background-color: $msRed;
	border: .066rem solid $msWhite;
	

	&:hover, &:focus,
	&:active, &.active {
		background-image: none;
		text-shadow: none;
		text-decoration: none;

		color: $msWhite;
		background-color: darken($msRed, 15%);
		border: .066rem solid darken($msRed, 10%);
		box-shadow: 0 0 0 .33rem $msRed
	}
}

.input-append .add-on:last-child, .input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
	border-radius: $defaultRadius
}

//
// input fields
input[type="text"], input[type="password"],
input[type="email"], input[type="url"],
input[type="time"], input[type="date"],
input[type="datetime-local"], input[type="tel"],
input[type="number"], input[type="search-md"],
input[type="search"], select, textarea,
.form-control, .dataTables_filter input[type="search"] {
	padding: 0.375rem 0.75rem;
	outline: none;
	font-weight: 300;
	font-size: 1.1rem;
	height: auto;
	line-height: normal;
	background-image: none;
	text-shadow: none;
	border-radius: $defaultRadius;

	border: .066rem solid $inputBorder;
	box-shadow: $inputShadow;

	&:hover, &:active,
	&.active {
		background-image: none;
		text-shadow: none;
		
		border: .066rem solid $inputBorderHov;
		box-shadow: 0 0 0 .33rem $inputShadowHov
	}

	&:focus {
		background-image: none;
		text-shadow: none;
		
		border: .066rem solid $inputBorderFoc;
		box-shadow: 0 0 0 .33rem $inputShadowFoc
	}

	&:disabled {
		background-color: rgba(224,224,224,1);
	}
}

input[type="text"], input[type="password"],
input[type="email"], input[type="url"],
input[type="time"], input[type="date"],
input[type="datetime-local"], input[type="tel"],
input[type="number"], input[type="search-md"],
input[type="search"], textarea {
	&:read-only {
		background-color: rgba(224,224,224,1);
	}
}

//
// accessibility - screen reader text
.sr-only {
	position: absolute;
	width: .066rem;
	height: .066rem;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
