@charset "UTF-8";

// senux-opac.scss, Senux Project, Jake Deery, 2021

//
//
// opac overrides
.search_history {
	display: none
}

//
//
// main page
.maincontent {
	color: $defaultText;
	background-color: $transparent;

	h1, h2, h3,
	h4, h5 {
		&::after {
			content: "";
			display: block;
			max-width: 33%
		}
	}

	h1, h2, h3 {
		&::after {
			border-bottom: .25rem solid $defaultText;
			border-radius: $defaultRadius
		}
	}
}

#OpacMainUserBlock, #news {
	padding: 1rem;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius;
}

#navigation, #OpacNavRight,
#login {
	padding: 1rem;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius;

	.btn {
		width: 100%;
		margin-bottom: .33rem
	}

	h3, h4, h5 {
		&::after {
			content: "";
			display: block;
			max-width: 33%;
			border-bottom: .25rem solid $defaultText;
			border-radius: $defaultRadius;
		}
	}
}

#login {
	margin: 0 0 .5rem 0;
	max-width: none
}

@media only screen and (min-width: 992px) {
	#opac-main {
		.col-12 {
			display: flex;
			flex: 0 0 auto;
			flex-direction: column
		}

		#OpacMainUserBlock, #navigation,
		#OpacNavRight {
			flex-grow: 1
		}
	}
}

// news
#news {
	margin: 0 0 .5rem 0
}

.newsheader {
	a {
		text-decoration: $defaultLinkDecoration;

		&:hover, &:focus {
			text-decoration: $defaultLinkDecorationHov
		}
	}
}

.newsfooter {
	border: $defaultBorderWidth $defaultBorderType $transparent
}

// hide rss because its old & branch select unless its required
#news-branch-select, #rssnews-container, .rsssearchlink {
	display: none;
}

//
//
// login modal
.modal-content {
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// adv search
#advsearch .main .container-fluid {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

.advsearch_limit {
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

#advsearch_limits label, #subtypes label {
	color: $defaultText
}

//
//
// search results
.selections {
	color: $msBlack
}

.returntosearch {
	padding: 0 1rem
}

@media(min-width: $breakpoint-pc) {
	.returntosearch {
		padding: 0
	}
}

.page-item {
	&.disabled {
		.page-link {
			background-color: $defaultLinkText;
			color: $defaultBg
		}
	}

	.page-link {
		background-color: lighten($white, 100%);
		color: $defaultLinkText;
		border: none;

		&:hover, &:focus,
		&:active, &.active {
			background-color: $defaultLinkText;
			color: $defaultBg;

			i.fa {
				color: $defaultBg
			}
		}
	}
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: $defaultRadius;
	border-bottom-left-radius: $defaultRadius
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: $defaultRadius;
	border-bottom-right-radius: $defaultRadius
}

.pagination_list li {
	color: $defaultText
}

#numresults, #selections {
	color: $defaultText
}

.shelves {
	ul {
		padding-left: 0
	}
}

//
// search facets
#facetcontainer {
	padding: 1rem;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

#menu h2, .menu h2,
#search-facets h2 {
	margin: 0;

	a {
		color: $headlinerText;
		background-color: $headlinerBg;
		text-decoration: $defaultLinkDecoration;
		border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;

		&:hover, &:focus {
			text-decoration: $defaultLinkDecorationHov
		}
	}
}

#search-facets {
	border: $defaultBorderWidth $defaultBorderType $transparent;

	ul {
		border: none;
		padding: 1rem 0 0 0
	}

	h3 a {
		display: block;
		font-size: initial;
		font-weight: bold;

		i.fa {
			float: right
		}
	}
}

#yr_id {
	p {
		text-align: center
	}

	input, a.btn {
		width: 100%
	}
}

#facet-yr-error {
	color: $msRed
}

//
// bookbag form
#bookbag_form {
	border-bottom: $defaultBorderWidth $defaultBorderType $defaultBorderCol
}

//
// floating toolbar
#floating {
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-bottom: none;
	border-radius: $defaultRadius
}

#toolbar.toolbar, #toolbar.toolbar.clearfix,
#selections-toolbar, .selections-toolbar {
	color: $toolbarText;
	background: $toolbarBg;
	border-bottom: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

// underlined links
#CheckAll, #CheckNone,
.CheckAll, .CheckNone,
#menu a, .menu a,
#search-facets a {
	text-decoration: $defaultLinkDecoration;

	&:hover, &:focus,
	&:active, &.active {
		text-decoration: $defaultLinkDecorationHov
	}
}

//
// results text of importance
.available, .intransit, .unavailable,
.notforloan, .damaged, .withdrawn,
.checkedout {
	font-weight: bold
}

.results_summary.availability,
.results_summary.online_resources {
	font-weight: bold;
	border-radius: $defaultRadius;

	.label {
		font-weight: bold
	}

	a {
		font-weight: bold
	}
}

.results_summary.online_resources {
	background: $onlineAccessBg;
	color: onlineAccessText;
	padding: .25rem;
	padding-left: 1rem;

	.label {
		color: $onlineAccessText;
	}

	a {
		color: $onlineAccessLink;
	}
}

//
// suggestions box
.suggestion {
	background-color: $defaultFg;
	color: $defaultText;
	border: $defaultBorderWidth $defaultBorderType $transparent;
	border-radius: $defaultRadius
}

//
//
// details page
.no-image {
	display: none
}

#catalogue_detail_biblio {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

#action, .actions,
.toolbar, .view{
	color: $defaultText;

	i.fa {
		color: $defaultText
	}

	a {
		color: $defaultLinkText;

		i.fa {
			color: $defaultLinkText
		}

		&:hover, &:focus {
			color: darken($defaultLinkText, 33%);

			i.fa {
				color: darken($defaultLinkText, 33%)
			}
		}
	}
}

#action {
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius;
}

//
// views
#views {
	border-bottom: $defaultBorderWidth $defaultBorderType $defaultBorderCol
}

.view {
	color: $defaultText;

	border-top: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-right: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-bottom: $defaultBorderWidth $defaultBorderType $transparent;
	border-left: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius $defaultRadius 0 0
}

.current-view {
	background-color: $defaultFg
}

// moresearches menu
#export .dropdown-menu, #moresearches_menu .dropdown-menu {
	a {
		background-color: $dropdownLinkBg;
		color: $dropdownLinkText;

		&:hover {
			background-color: $dropdownLinkBgHov;
			color: $dropdownLinkTextHov
		}
	}
}

// moreactions
.nav_results {
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius;
}

.l_Results {
	color: $headlinerText;
	background-color: $headlinerBg;
	border-radius: $defaultRadius;
}
.pg_menu .pg_link a, .pg_menu .pg_link span {
	background-color: $defaultFg;
	border-radius: $defaultRadius
}

//
// socials
#social_networks {
	a {
		border-radius: $defaultRadius;

		&:hover, &:focus,
		&:active, &.active {
			border-color: $defaultBorderCol
		}
	}
}

//
// view tabs
a#Normalview, a#MARCview,
a#ISBDview {
	text-decoration: $defaultLinkDecoration;

	&:hover, &:focus,
	&:active, &.active {
		text-decoration: $defaultLinkDecorationHov
	}
}

//
//
// course reserves
#courses {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

.dataTables_filter input,
.dataTables_filter label {
	font-size: 1rem
}

.pg_menu .pg_link a,
.pg_menu .pg_link span {
	&:hover, &:focus,
	&:active, &.active {
		background-color: $defaultLinkText;
		color: $defaultFg
	}
}

#a_listResults {
	color: $defaultLinkText;

	i.fa {
		color: $defaultLinkText;
	}

	&:hover, &:focus,
	&:active, &.active {
		background-color: $defaultLinkText;
		color: $defaultFg;

		i.fa {
			color: $defaultFg
		}
	}
}

//
//
// serials
#libraryfilter, #subscriptionidfilter {
	margin-bottom: .5rem
}

//
//
// account
#opac-auth, #userdetails,
#useraccount, #opac-patron-update .col-md-12.col-lg-10.order-1,
#usertags, #searchhistory,
#userreadingrecord, #userholdshistory,
#usersuggestions, #usermessaging,
#usershelves, #illrequests {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// libraries
#library_info {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// holds
#holds {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// subject cloud
#subjectcloud {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// auths
#userauthhome {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// browser
#userbrowser {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// lists
#useraddbybiblionumber {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// basket
#userbasket {
	padding: 1rem;
	color: $defaultText;
	background-color: $defaultFg;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

//
//
// languages
#changelanguage {
	display: none
}

//
//
// inlibro changes
#inlibro-carrousel {
	padding: 1rem
}

#inlibro-carrousel .slider img {
	height: 250px!important
}

#inlibro-carrousel hr {
	display: none
}

#inlibro-carrousel button {
	background-image: none!important;
	text-shadow: none!important;
	text-decoration: none!important;

	color: $btnPriText!important;
	background-color: $btnPriBg!important;
	border: $btnPriBorderWidth $btnPriBorderType $btnPriBorderCol!important;
	outline: $btnPriOutlineWidth $btnPriOutlineType $btnPriOutlineCol!important;

	border-radius: $defaultRadius!important;
	outline-offset: $defaultOffset!important;

	&:hover, &:focus,
	&:active, &.active {
		background-image: none!important;
		text-shadow: none!important;
		text-decoration: none!important;

		color: $btnPriTextHov!important;
		background-color: $btnPriBgHov!important;
		border: $btnPriBorderWidthHov $btnPriBorderTypeHov $btnPriBorderColHov!important;
		outline: $btnPriOutlineWidthHov $btnPriOutlineTypeHov $btnPriOutlineColHov!important;
	}
}
