@charset "UTF-8";

// senux-page.scss, Senux Project, Jake Deery, 2021

//
//
// main block

//
// main area
.main {
	margin: 0;
	padding: 1rem;
	color: $mainText;
	background-color: $mainBg;
}
@media (min-width: 992px) {
	.main {
		padding: 1rem 5rem
	}
}

//
// breadcrumbs
.breadcrumb {
	margin: .5rem 0 .9375rem;
	color: $defaultText;
	background-color: $defaultBg;
	border: .066rem solid transparent;
	border-radius: $defaultRadius
}

.breadcrumb-item {
	&::before {
		content: none
	}

	a, a:link, a:visited {
		color: $defaultLink;

		&:hover, &:focus {
			color: darken($defaultLink, 15%)
		}
	}

	&.active {
		a, a:link, a:visited {
			color: $defaultText;

			a:hover, a:focus {
				color: rgb(0,0,0)
			}
		}
	}
}

//
// ui tabs
.ui-tabs .ui-tabs-nav li {
	background: $defaultBg;
	color: $defaultText;
	border-color: darken($defaultBg, 33%);
	border-radius: $defaultRadius $defaultRadius 0 0;

	&.ui-tabs-active {
		background: $white;
		color: $defaultText;
		border-color: darken($defaultBg, 33%);
		border-radius: $defaultRadius $defaultRadius 0 0
	}
}

.ui-tabs .ui-tabs-panel {
	border-color: darken($defaultBg, 33%);
	border-radius: $defaultRadius
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	a, a:link, a:visited {
		background-color: transparent;
		color: $defaultLink;

		&:hover, &:focus {
			background-color: transparent;
			color: darken($defaultLink, 15%)
		}
	}
}

.ui-tabs .ui-state-default {
	a, a:link, a:visited {
		color: $defaultLink;

		&:hover, &:focus {
			background: darken($defaultBg, 15%);
			color: darken($defaultLink, 15%)
		}
	}
}

//
// tables
// default
.table {
	border: none
}

.table-bordered, .table-bordered td,
.table-bordered th {
	border: lighten($defaultText, 33%)
}

.table thead th {
	background-color: darken($defaultBg, 5%);
	border-bottom: lighten($defaultText, 33%)
}

.table tbody tr {
	background-color: $white
}

.table .sorting {
	background: url('/opac-tmpl/bootstrap/images/ascdesc.gif') no-repeat scroll 100% 75% $defaultBg
}

.table .sorting_asc {
	background: url('/opac-tmpl/bootstrap/images/asc.gif') no-repeat scroll 100% 80% $defaultBg
}

.table .sorting_desc {
	background: url('/opac-tmpl/bootstrap/images/desc.gif') no-repeat scroll 100% 80% $defaultBg
}

.table .nosort, .table .nosort.sorting,
.table .nosort.sorting_asc, .table .nosort.sorting_desc {
	background-color: $defaultBg
}

// striped
.table-striped tbody > tr > td,
.table-striped tbody > tr > th {
	background-color: $defaultBg;

	a, a:link, a:visited, a.btn.btn-link {
		color: $defaultLink;

		&:hover, &:focus {
			color: darken($defaultLink, 15%)
		}
	}
}

.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: $white;

	a, a:link, a:visited, a.btn.btn-link {
		color: $defaultLink;

		&:hover, &:focus {
			color: darken($defaultLink, 15%)
		}
	}
}

//
// items tables
#items, #items td,
#items th {
	font-size: 1rem
}

//
// menus
.menu-collapse {
	border-right: $defaultBorder
}

#menu li {
	a {
		color: $defaultLink;
		border-radius: $defaultRadius 0 0 $defaultRadius;
		border-top: darken($defaultBg, 33%);
		border-right: transparent;
		border-bottom: darken($defaultBg, 33%);
		border-left: darken($defaultBg, 33%);

		&:hover, &:focus,
		&:active, &.active {
			background-color: $defaultLink;
			color: $defaultBg
		}
	}

	&.active a {
		border-radius: $defaultRadius 0 0 $defaultRadius;
		border-top: darken($defaultBg, 33%);
		border-right: transparent;
		border-bottom: darken($defaultBg, 33%);
		border-left: darken($defaultBg, 33%)
	}
}

//
// recolour things
legend, .legend {
	color: $defaultText;
	border-bottom: none
}

.results_summary {
	color: $defaultText
}

caption, h5 {
	color: $defaultText
}
