@charset "UTF-8";

// senux-page.scss, Senux Project, Jake Deery, 2021

//
//
// main block

//
// main area
.main {
	margin: 0;
	padding: 1rem;
	border: $defaultBorderWidth $defaultBorderType $transparent;
	color: $defaultText;
	background-color: $defaultBg
}
@media (min-width: 992px) {
	.main {
		padding: 1rem 5rem
	}
}

//
// breadcrumbs
.breadcrumb {
	margin: .5rem 0 .9375rem;
	background-color: $breadcrumbBg;
	color: $breadcrumbText;
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol;
	border-radius: $defaultRadius
}

.breadcrumb-item {
	color: $breadcrumbText;

	&::before {
		content: none
	}

	a {
		color: $breadcrumbLinkText;

		&:link, &:visited {
			color: $breadcrumbLinkText
		}

		&:hover, &:focus,
		&:active, &.active {
			color: $breadcrumbLinkTextHov
		}
	}
}

.breadcrumb-item + .breadcrumb-item {
	&::before {
		height: auto;
		width: auto;
		background: none;
		color: $breadcrumbDivider;
		content: "/"
	}
}

.breadcrumb-item.active {
	color: $breadcrumbText;

	a {
		color: $breadcrumbText;
		font-weight: bold;

		&:link, &:visited {
			color: $breadcrumbText;
			font-weight: bold
		}

		&:hover, &:focus,
		&:active, &.active {
			color: $breadcrumbText;
			font-weight: bold
		}
	}
}

//
// ui tabs
.ui-tabs .ui-tabs-nav li {
	background: $defaultBg;
	color: $defaultText;
	border-color: $defaultBorderCol;
	border-radius: $defaultRadius $defaultRadius 0 0
}

.ui-tabs .ui-tabs-panel {
	background-color: $white;
	border-color: $defaultBorderCol;
	border-radius: $defaultRadius
}

.ui-tabs .ui-state-default {
	a, a:link, a:visited {
		color: $defaultLinkText;

		&:hover, &:focus {
			background: darken($defaultBg, 15%);
			color: darken($defaultLinkText, 15%)
		}
	}
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-hover.ui-state-active {
	background-color: $defaultLinkBgFoc;
	color: $defaultLinkTextFoc;

	a, a:link, a:visited {
		color: $defaultLinkTextFoc;
	}
}

//
// tables
// default
.table-bordered, .table-bordered td,
.table-bordered th {
	border: $defaultBorderWidth $defaultBorderType $defaultBorderCol
}

.table thead th {
	background-color: darken($defaultBg, 5%);
	border-bottom: none
}

.table tbody tr {
	background-color: $white
}

.table .sorting {
	background: url('/opac-tmpl/bootstrap/images/ascdesc.gif') no-repeat scroll 100% 75% $defaultBg
}

.table .sorting_asc {
	background: url('/opac-tmpl/bootstrap/images/asc.gif') no-repeat scroll 100% 80% $defaultBg
}

.table .sorting_desc {
	background: url('/opac-tmpl/bootstrap/images/desc.gif') no-repeat scroll 100% 80% $defaultBg
}

.table .nosort, .table .nosort.sorting,
.table .nosort.sorting_asc, .table .nosort.sorting_desc {
	background-color: $defaultBg
}

// striped
.table-striped tbody > tr > td,
.table-striped tbody > tr > th {
	background-color: $tableStripedEven;

	a, a:link, a:visited, a.btn.btn-link {
		color: $defaultLinkText;

		&:hover, &:focus {
			color: darken($defaultLinkText, 15%)
		}
	}
}

.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: $tableStripedOdd;

	a, a:link, a:visited, a.btn.btn-link {
		color: $defaultLinkText;

		&:hover, &:focus {
			color: darken($defaultLinkText, 15%)
		}
	}
}

// table lables
.table_entries {
	color: $defaultText
}

td.overdue {
	color: $msRed
}

//
// items tables
#items, #items td,
#items th {
	font-size: 1rem
}

//
// menus
.menu-collapse {
	border-right: $defaultBorderWidth $defaultBorderType $defaultBorderCol
}

#menu, .menu {
	font-size: .94em;
	border-right: none;

	ul {
		padding-left: 0
	}

	li {
		list-style-type: none;

		a {
			display: block;
			padding: .4rem .6rem;


			color: $btnSecText;
			background-color: $btnSecBg;
			border: $btnSecBorderWidth $btnSecBorderType $btnSecBorderCol;
			outline: $btnSecOutlineWidth $btnSecOutlineType $btnSecOutlineCol;


			&:hover, &:focus,
			&:active, &.active {
				color: $btnSecTextHov;
				background-color: $btnSecBgHov;
				border: $btnSecBorderWidthHov $btnSecBorderTypeHov $btnSecBorderColHov;
				outline: $btnSecOutlineWidthHov $btnSecOutlineTypeHov $btnSecOutlineColHov
			}
		}

		&.active a {
			color: $defaultLinkTextFoc;
			background-color: $defaultLinkBgFoc;
			border: $defaultBorderWidth $defaultBorderType $defaultLinkOutlineColFoc;

			&:hover, &:focus,
			&:active, &.active {
				color: $defaultFg;
				background-color: $defaultLinkText;
				outline: $defaultOutlineWidth $defaultOutlineType lighten($defaultLinkText, 15%)
			}
		}
	}
}
@media only screen and (min-width: $breakpoint-pc) {
	#menu, .menu {
		ul {
			padding: 1em 0
		}

		li {
			a {
				margin: .4em 0;
				margin-right: -1px
			}
		}
	}
}

//
// recolour things
legend, .legend {
	color: $defaultText;
	border-bottom: none
}

.results_summary {
	color: $defaultText;

	label, .label {
		color: $defaultText
	}
}

caption, h5 {
	color: $defaultText
}
