// variables.scss, Senux Project, Jake Deery, 2021
//
// if you want to know more about this file, take a look at the README.md in this directory

// 1. import default variables
@import 'senux/variables.scss';

// 2. define reusable hues/text colours
$userHue1: $senuxHue1;
$userHue2: $senuxHue2;
$userHue3: $senuxHue3;
$userText1: $senuxText1;
$userText2: $senuxText2;
$userText3: $senuxText3;
// 2.1 page variables
$defaultBg: $msWhite;
$defaultText: $msBlack;
$defaultBorder: darken($defaultBg, 15%);
$defaultLink: $msBlue;

// 3. generic variables
$mainBg: #ffffff;
$mainText: $defaultText;
// 3.1 button variables
$btnPriText: $userText1;
$btnPriBg: $userHue1;
$btnPriBorder: lighten($userHue1, 15%);
$btnPriTextHov: $userHue1;
$btnPriBgHov: $userText1;
$btnPriBorderHov: darken($userText1, 15%);
$btnSecText: $msBlack;
$btnSecBg: $msWhite;
$btnSecBorder: darken($msWhite, 15%);
$btnSecTextHov: $msWhite;
$btnSecBgHov: $msBlack;
$btnSecBorderHov: lighten($msBlack, 15%);
// 3.2 input variables
$inputBorder: darken($msWhite, 15%);
$inputShadow: none;
$inputBorderHov: darken($msWhite, 33%);
$inputShadowHov: darken($userHue2, 15%);
$inputBorderFoc: darken($userHue2, 15%);
$inputShadowFoc: $userHue1;
// 3.3 dropdown menu variables
$dropdownBg: $msWhite;
$dropdownBgHov: darken($msWhite, 30%);
$dropdownText: $msBlack;
$dropdownLink: $msBlack;
$dropdownLinkHov: $msBlack;
$dropdownLinkHovBg: $userHue2;

// 4. navbar variables
$navbarBg: $msBlack;
$navbarLink: lighten($msBlack, 85%);
$navbarLinkHov: lighten($msBlack, 65%);
$navbarUsermenuBg: $msWhite;
$navbarUsermenuText: $msBlack;
$navbarUsermenuLink: $msBlue;
$navbarUsermenuLinkHov: darken($msBlue, 15%);
$navbarUsermenuLogout: $msRed;
$navbarUsermenuLogoutHov: darken($msRed, 15%);

// 5. masthead variables
$headerBg: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='57.74' height='100' viewBox='0 0 34.64101615137755 60' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(0, 127, 255,1)'/%3E%3Cpath d='M51.96 30L51.96 50L34.64 60L34.64 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 30L17.32 50L0 60L0 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 0L34.64 20L17.32 30L17.32 10z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 60L34.64 80L17.32 90L17.32 70z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 60L17.32 50L17.32 30L34.64 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M0 60L-17.32 50L-17.32 30L0 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 30L0 20L0 0L17.32 10z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 90L0 80L0 60L17.32 70z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' background='true' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' fill='rgba(85, 86, 86,1)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3Cpath d='M17.32 70L17.32 70L17.32 70L17.32 70z' stroke-linejoin='miter' background='true' fill='rgba(128, 191, 255,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
$headerText: $msWhite;
// 5.1 search area variables
$mainSearchBg: $userHue2;
$mainSearchText: $userText2;
// 5.2 more search variables
$moreSearchBg: $userHue2;
$moreSearchText: $userText2;
$moreSearchLink: $userText2;
$moreSearchLinkHov: lighten($userText2, 15%);

// 6. opac-wide variables
$onlineAccessBg: lighten($msGold, 33%);
$onlineAccessText: $defaultText;
$onlineAccessLink: $defaultLink;

// 7. footer variables
$footerBg: $userHue3;
$footerText: $userText3;
$footerLink: $footerText;
